@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,100;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

#game{
  width: 650px;
  height: 400px;
  border: 1px solid black;
}

#character{
  height: 50px;
  width: 20px;
  background: red;
  position: relative;
  top: 350px;
}

.animate{
  animation: jump 500ms;
}

@keyframes jump{
  0%{
    top: 351px;
  }
  30%{
    top: 180px;
  }
  70%{
    top: 180px;
  }
  100%{
    top: 300px;
  }
}
#block{
  height: 20px;
  width: 20px;
  background: blue;
  position: relative;
  top: 330;
  left: 630px;
  animation: block 1.5s infinite;
}

@keyframes block{
  0%{
    left: 630px;
  }
  100%{
    left: -2px;
  }
}